# folds
.idea
target
out
.settings

# files
*.log
*.iml
*.ipr
*.iws
*.class
.DS_Store
.classpath
.project
*.jar
*.war
*.zip
*.tar.gz
*.rar

# others
hs_err_pid*
*.cache
*.cache.lock
rebel*.xml
*.rebel*